<div class="chats">
	<div class="search">
		<input type="text" name="search">
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>
	<div class="all-chats">
		<% 20.times do  %>
			<div class="chat-p">
				<%= image_tag "vau.JPG" %>
				<span>Vau</span>
			</div>
		<% end %>
	</div>
</div>