<div class="chats">
	<div class="search">
		<input type="text" name="search">
		<%= fa_icon "search" %>
	</div>
	<div class="all-chats">
		<% friends.each do |friend| %>
			<div class='chat-p <%= "p-#{friend.id}" %>'>
				<%= image_tag "vau.JPG" %>
				<span><%= friend.name %></span>
			</div>
		<% end %>
	</div>
</div>