<div class="chat">
	<div class="chat-top">
		<h2>Vau</h2>
	</div>

	<div class="chat-bottom">
		<div class="chat-main">
			<div class="chat-messages"></div>
			<div class="chat-box"></div>
		</div>

		<div class="chat-members"></div>
	</div>
</div>