<div class="add-friend none-block">
	<div class="add-bar">
		<%= fa_icon "times-circle" %>
		<span>Add a friend</span>
	</div>
	<div class="search-results">
		<input type="text" name="search" placeholder="Search" class="search-box">
		<input type="submit" name="commit" value="Search" class="search-button">
		<div class="results">
			<div class="error-results none-block"></div>
		</div>
	</div>
</div>